#include <windows.h>

#define STRINGIFY2(X) #X
#define STRINGIFY(X) STRINGIFY2(X)

#define VER_FILEVERSION				GOTCHANG_PDF_VERSION_MAJOR, GOTCHANG_PDF_VERSION_MINOR, GOTCHANG_PDF_VERSION_PATCH, GOTCHANG_PDF_VERSION_BUILD
#define VER_FILEVERSION_STR			STRINGIFY(GOTCHANG_PDF_VERSION_MAJOR) "." STRINGIFY(GOTCHANG_PDF_VERSION_MINOR) "." STRINGIFY(GOTCHANG_PDF_VERSION_PATCH) "." STRINGIFY(GOTCHANG_PDF_VERSION_BUILD) "\0"

#define VER_PRODUCTVERSION			GOTCHANG_PDF_VERSION_MAJOR, GOTCHANG_PDF_VERSION_MINOR, GOTCHANG_PDF_VERSION_PATCH
#define VER_PRODUCTVERSION_STR		STRINGIFY(GOTCHANG_PDF_VERSION_MAJOR) "." STRINGIFY(GOTCHANG_PDF_VERSION_MINOR) "." STRINGIFY(GOTCHANG_PDF_VERSION_PATCH) "\0"

#define VER_COMPANYNAME_STR			"Juraj Zikmund\0"
#define VER_FILEDESCRIPTION_STR		"PDF parsing library\0"
#define VER_INTERNALNAME_STR		"gotchangpdf\0"
#define VER_LEGALCOPYRIGHT_STR		"(C) Juraj Zikmund 2017\0"
#define VER_PRODUCTNAME_STR			"gotchangpdf\0"
#define VER_ORIGINALFILENAME_STR	"gotchangpdf.dll\0"

#ifndef DEBUG
#define VER_DEBUG 0
#else
#define VER_DEBUG VS_FF_DEBUG
#endif

#define VER_PRIVATEBUILD 0
//#define VER_PRIVATEBUILD VS_FF_PRIVATEBUILD
#define VER_PRIVATEBUILD_STR "\0"

#define VER_PRERELEASE   0

#define VER_SPECIALBUILD 0
//#define VER_SPECIALBUILD VS_FF_SPECIALBUILD
#define VS_SPECIALBUILD_STR "\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS(VER_DEBUG | VER_PRERELEASE | VER_PRIVATEBUILD | VER_SPECIALBUILD)
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", VER_COMPANYNAME_STR
			VALUE "FileDescription", VER_FILEDESCRIPTION_STR
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "InternalName", VER_INTERNALNAME_STR
			VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
			/*
			VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
			VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
			*/
			VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR

			#if (VER_PRIVATEBUILD)
				VALUE "PrivateBuild", VER_PRIVATEBUILD_STR
			#endif

			VALUE "ProductName", VER_PRODUCTNAME_STR
			VALUE "ProductVersion", VER_PRODUCTVERSION_STR

			#if (VER_SPECIALBUILD)
				VALUE "SpecialBuild", VER_SPECIALBUILD_STR
			#endif

		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		/* The following line should only be modified for localized versions.     */
		/* It consists of any number of WORD,WORD pairs, with each pair           */
		/* describing a language,codepage combination supported by the file.      */
		/*                                                                        */
		/* For example, a file might have values "0x409,1252" indicating that it  */
		/* supports English language (0x409) in the Windows ANSI codepage (1252). */

		VALUE "Translation", 0x409, 1252
	END
END