[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt
