# Build files
/.vs/
/build/
/out/

# User specific configuration
CMakeSettings.json

# Test files
!/test/*.pdf

# Log files
*.log

# Nuget
/nuget/build/
/nuget/obj/
/nuget/archives/
/nuget/*.nupkg
/*.nupkg
/nuget/*.csproj
