
input[type="email"] {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: none;
    border: 1px solid #fced21;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 50px;
    color: #000000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="email"]:focus {
	outline: 0;
    border: 1px solid #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="email"]:-moz-placeholder { color: #000000; opacity: 0.5; }
input[type="email"]:-ms-input-placeholder { color: #000000; opacity: 0.5; }
input[type="email"]::-webkit-input-placeholder { color: #000000; opacity: 0.5; }


.subscribe button {
	height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fced21;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #000000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.subscribe button:hover {
    background: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.subscribe button:active {
	outline: 0;
    background: #555;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subscribe button:focus {
	outline: 0;
	background: #7ac942;
	color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
	background: #555;
	color: #fff;
}
