
body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #fced21;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h2 {
	color: #7ac942;
	margin-top: 80px;
	font-size: 62px;
	font-weight: 300;
	line-height: 54px;
}

img { max-width: 100%; }

::-moz-selection { background: #7ac942; color: #fff; text-shadow: none; }
::selection { background: #7ac942; color: #fff; text-shadow: none; }


/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
}

.inner-bg {
    padding: 100px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
}

.coming-soon p {
	display: inline-block;
	width: 450px;
    font-size: 20px;
    line-height: 30px;
}

.timer {
    margin-top: 60px;
	margin-bottom: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    margin: 0 10px;
    font-size: 18px;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

.subscribe {
	margin-top: 30px;
	margin-bottom: 30px;
}

.subscribe form input {
    width: 362px;
    height: 52px;
}

.success-message, .error-message {
	margin-top: 20px;
	font-size: 28px;
    line-height: 32px;
}
