/* Extra CSS */

/* Global */

body, table, div, p, dl, a {
	font-family: 'Source Sans Pro', sans-serif;
}

ul#main-menu, div.toc, div.fragment, blockquote {
	background-color: #F5F5F5;
}

a, a:visited, div.contents a, div.contents a:visited {
	color: #7AC942;
}

/* Page header */

div#titlearea {
	
	border-bottom: none;
	
	/*
		Width 100% would mean, that the object larger, if the object has padding
		To get around this, we need to set the box-sizing property as well
	*/
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

td#projectlogo {
	vertical-align: middle;
}

td#projectlogo, td#projectlogo img {
	width: 450px;
	height: 93px;
}

div#titlearea table {
	width: 100%;
}

div#projectname, div#projectname span#projectnumber {
	font-weight: bold;
}

div#projectname, div#projectbrief {
	text-align: right;
	font-family: 'Source Sans Pro', sans-serif;
}

div#projectbrief {
	font-size: 100%;
}

/* Navigation bar */

ul#main-menu {
	background-image: none;
}

div#nav-path ul {
	background-image: none;
	background-color: #F5F5F5;
}

div#nav-path li {
	background-color: #F5F5F5;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
	background-image: none;
	padding: 10px 35px;
	color: #000000;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 120%;
}

.sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
	color: #7AC942;
	background-color: #FFFFFF;
	text-shadow: none;
}

div#MSearchBox {
	margin-top: 17px;
}

div#MSearchBox span.right {
	top: 17px;
}

/* Header */

div.header {
	background-image: none;
	border-bottom: none;
	background-color: inherit;
	
	width: 80%;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 50px;
	margin-bottom: 50px;
}

div.headertitle {
	padding: 0px;
}

div.headertitle div.title {
	margin: 0px;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 250%;
	line-height: 110%;
	font-weight: bold;
}

div.header div.summary {
	width: 20%;
	font-size: 100%;
}

div.headertitle div.title div.ingroups {
	margin-top: 10px;
	font-size: 40%;
}

/* Body */

body {
	background-color: #FFFFFF;
}

body, table, div, p, dl {
    font-weight: 300;
	font-size: 16pt;
	line-height: 20pt;
}

h1 {
	font-size: 150%;
	line-height: 150%;
}

h2 {
	font-size: 130%;
	line-height: 130%;
}

h3 {
	font-size: 120%;
	line-height: 120%;
}

blockquote {
	display: inline-block;
}

h2.groupheader {
	color: black;
}

a.el {
	font-weight: 400;
}

div.toc {
	min-width: 200px;
	max-width: 30%;
	width: auto;
}

div.toc h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	color: #000000;
}

div.toc li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	background-position: 0 0.5em;
}

div.contents {
	width: 80%;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 50px;
	margin-bottom: 50px;
}

dl.note, dl.todo {
	padding-left: 6px;
}

div.image {
	text-align: left;
}

div.line {
	font-size: 80%;
}

span.lineno a.line {
	font-family: inherit;
}

div.fragment {
	padding: 10px;
	margin-left: 20px;
	
	/* This wraps the fragment to the text legth */
	display: table;
}

span.arrow {
	width: auto;
	height: auto;
	font-size: 100%;
}

span.icona {
	width: auto;
	height: auto;
	padding: 5px;
}

span.icondoc {
	vertical-align: middle;
	margin: 5px;
}

table.directory {
	width: 100%;
	font: inherit;
}

div.directory div.levels {
	font: inherit;
}

div.directory td.entry {
	width: 35%;
}

div.directory td.desc {
	width: 65%;
}

div.directory td.entry, div.directory td.desc {
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}
