<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    {% include 'meta.html' %}

    <!-- Styles -->
    {% include 'styles.html' %}

    <!-- Favicons -->
    {% include 'favicons.html' %}
  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
      <div class="container">

        {% include 'navbar-left.html' %}

        <section class="navbar-mobile">
          <nav class="nav nav-navbar ml-auto">
            <a class="nav-link" href="#home">Home</a>
            <a class="nav-link" href="#section-mission">Our mission</a>
            <a class="nav-link" href="#footer">References</a>
          </nav>
        </section>

      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header id="home" class="header">
      <div class="container">
        <div class="row align-items-center h-100">

          <div class="col-md-7 mx-auto">
            <h1>About us</h1>
            <p class="lead-3">Our company was founded in 2013 with a mission to create pretty templates for great startups. We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning websites. And best of all, we are super passionate about our work. Thought does cognitive into follow and rationale annoyed.</p>
          </div>

        </div>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Our Mission
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section id="section-mission" class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-7 mx-auto">
              <h2>Our Mission</h2>
              <p class="lead">We’re a team of creative and experienced designers and developers. We used to work as freelancers and we know what do you need and more that, we know what do your customers want from you.</p>

              <br>

              <p>
                <i class="ti-check text-success mr-2"></i>
                <span> Deliver a high quality web design</span>
              </p>

              <p>
                <i class="ti-check text-success mr-2"></i>
                <span> Support our customers once signing a contract</span>
              </p>

              <p>
                <i class="ti-check text-success mr-2"></i>
                <span> Streamline an expanded array of web</span>
              </p>

              <p>
                <i class="ti-check text-success mr-2"></i>
                <span> Pursue web-enabled niche markets with professionals</span>
              </p>
            </div>

          </div>
        </div>
      </section>

    </main><!-- /.main-content -->


	<!-- Footer -->
	<footer id="footer" class="footer py-7">
		{% include 'footer.html' %}
	</footer><!-- /.footer -->


    <!-- Scripts -->
    {% include 'scripts.html' %}

  </body>
</html>
