<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta tags -->
    {% include 'meta.html' %}

    <!-- Styles -->
    {% include 'styles.html' %}

    <!-- Favicons -->
    {% include 'favicons.html' %}

    <!-- Google Analytics -->
    {% include 'google_analytics.html' %}
  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
      <div class="container">

        {% include 'navbar-left.html' %}

        <section class="navbar-mobile">
          <nav class="nav nav-navbar ml-auto">
            <a class="nav-link" href="#home">Home</a>
            <a class="nav-link" href="#section-download">Download</a>
            <a class="nav-link" href="#footer">References</a>
          </nav>
        </section>

      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header id="home" class="header pt-10 pb-0">
      <div class="container text-center">
        <h1 class="display-4">Downloads</h1>
        <p class="lead-2 mt-6">Choose build for your platform</p>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Download
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section id="section-download" class="section">
        <div class="container">
		
		  <div class="row">
		  <h3 style="font-family: inherit;">Latest release ({{ LATEST_VERSION }})</h3>
		  <table class="table table-bordered table-hover">
			<thead>
			  <tr class="bg-gray">
				<th>Platform</th>
				<th>Filename</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Windows win64-x64 Installer</td>
				<td><a href="build/{{ LATEST_VERSION }}/vanillapdf_{{ LATEST_VERSION }}_win64-x64.msi">vanillapdf_{{ LATEST_VERSION }}_win64-x64.msi</a></td>
			  </tr>
			  <tr>
				<td>Windows win64-x64 ZIP</td>
				<td><a href="build/{{ LATEST_VERSION }}/vanillapdf_{{ LATEST_VERSION }}_win64-x64.zip">vanillapdf_{{ LATEST_VERSION }}_win64-x64.zip</a></td>
			  </tr>
			  <tr>
				<td>Windows win32-x86 Installer</td>
				<td><a href="build/{{ LATEST_VERSION }}/vanillapdf_{{ LATEST_VERSION }}_win32-x86.msi">vanillapdf_{{ LATEST_VERSION }}_win32-x86.msi</a></td>
			  </tr>
			  <tr>
				<td>Windows win32-x86 ZIP</td>
				<td><a href="build/{{ LATEST_VERSION }}/vanillapdf_{{ LATEST_VERSION }}_win32-x86.zip">vanillapdf_{{ LATEST_VERSION }}_win32-x86.zip</a></td>
			  </tr>
			  <tr>
				<td>Linux x86_64</td>
				<td></td>
			  </tr>
			</tbody>
		  </table>
		  </div>

        </div>
      </section>

    </main><!-- /.main-content -->


	<!-- Footer -->
	<footer id="footer" class="footer py-7">
		{% include 'footer.html' %}
	</footer><!-- /.footer -->


    <!-- Scripts -->
    {% include 'scripts.html' %}

  </body>
</html>
