<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    {% include 'meta.html' %}

    <!-- Styles -->
    {% include 'styles.html' %}

    <!-- Favicons -->
    {% include 'favicons.html' %}

    <!-- Google Analytics -->
    {% include 'google_analytics.html' %}
  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
      <div class="container">

        {% include 'navbar-left.html' %}

        <section class="navbar-mobile">
          <nav class="nav nav-navbar ml-auto">
            <a class="nav-link" href="#home">Home</a>
            <a class="nav-link" href="#section-faq">FAQ</a>
            <a class="nav-link" href="#footer">References</a>
          </nav>
        </section>

      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header id="home" class="header pt-10 pb-0">
      <div class="container text-center">
        <h1 class="display-4">Frequently Asked Questions</h1>
        <p class="lead-2 mt-6">Got a question? We've got answers. If you have some other questions, contact us using email.</p>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | FAQ
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section id="section-faq" class="section">
        <div class="container">

		  <div class="row gap-y">
		    <div class="col-md-6 col-xl-4">
              <h5>What is your very unique selling point?</h5>
              <p>In essence, <b>Vanilla.PDF</b> allows expert developers to fine-tune documents with maximum control. It can therefore serve as a post-processing step, if the output from a different tool is not sufficient.</p>
            </div>

		   <div class="col-md-6 col-xl-4">
              <h5>Can I try your product for free?</h5>
              <p>There is an evaluation option, where you can try the product with a very limited functionality. Simply download the latest version, compile any of the free demo projects and enjoy!</p>
            </div>

			<div class="col-md-6 col-xl-4">
              <h5>Can I get a discount?</h5>
              <p>There are various discounts available depending on your intentions, field of use, team size, start-ups and more. We love to support ambitious teams, so feel free to ask!</p>
            </div>

            <div class="col-md-6 col-xl-4">
              <h5>Can I continue to use product after the support period has expired?</h5>
              <p>Absolutely! After you have received your license key, you may use the product in the current version indefinitely. However, all updates including security updates and hotfixes are only available during supported time period.</p>
            </div>

            <div class="col-md-6 col-xl-4">
              <h5>What is the difference between personal and commercial license?</h5>
              <p>The only difference is that personal license is not allowed for distribution, public facing web sites/applications, extranets, multi-site intranets or SaaS project usage scenarios.</p>
            </div>
			
			<div class="col-md-6 col-xl-4">
              <h5>There is an error with the input document, what can I do?</h5>
              <p>This most often means, that the input document is malformed. In order to solve this problem, we might need to inspect the input document. Please contact us!</p>
            </div>
		  </div>

        </div>
      </section>

    </main><!-- /.main-content -->


	<!-- Footer -->
	<footer id="footer" class="footer py-7">
		{% include 'footer.html' %}
	</footer><!-- /.footer -->


    <!-- Scripts -->
    {% include 'scripts.html' %}

  </body>
</html>
