
# BEGIN Custom settings

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

RewriteBase /
RewriteRule ^$ /wordpress [L]
</IfModule>

# END Custom settings
